@import "tailwindcss";

/* Custom Color Variables */
:root {
  --drab-dark-brown: #2C2D0Cff;
  --olive: #7F8F23ff;
  --drab-dark-brown-2: #393D0Dff;
  --lion: #B79A62ff;
  --alabaster: #F2F2F2ff;
}


:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  background-color: var(--drab-dark-brown);
  color: var(--alabaster);
}
